body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #ccc;
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
}

h1 {
    color: white;
    background-color: silver;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: none;
    text-align: center;
    letter-spacing: 0.5em;

    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: silver;
}

h2 {
    color: white;
    background-color: silver;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: white;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: white;
    font-style: italic;
}

table {
    background-color: #ccc;
}